.board-celda {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.board-celda.selected {
  background-color: #f0f8ff; /* Cambia este color según tus necesidades */
  border: 2px solid #0000ff; /* Cambia este color según tus necesidades */
}

.board-celda.last-selected {
  background-color: #ffa07a; /* Cambia este color según tus necesidades */
  border: 2px solid #ff4500; /* Cambia este color según tus necesidades */
}

.board-celda.selectable {
  background-color: #98fb98; /* Cambia este color según tus necesidades */
  border: 2px solid #32cd32; /* Cambia este color según tus necesidades */
}

