.board-cell {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.board-cell.selected {
  background-color: yellow; /* Color para las celdas seleccionadas */
}

.board-cell.last-selected {
  border: 2px solid red; /* Borde para la última celda seleccionada */
}

.board-cell.continuous {
  background-color: violet; /* Color para las celdas adyacentes */
}
