main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 15px;
}
#start-screen
{
  display: inline-block;
  padding: 20px;
  background-color: rgb(34, 34, 34);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

 #game-screen {
  width: 100%;
  max-width: 600px;
  display: flex;
  padding: 20px;
  flex-flow: column;
  justify-content: center;
  background-color: #222222;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#start-screen input, #start-screen select, #game-screen input {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: white;
}

#start-screen button, #game-screen button {
  background-color: #1E90FF;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#start-screen button:hover, #game-screen button:hover {
  background-color: #1C86EE;
}

#game-screen {
  display: none;
  flex-flow: row nowrap;
}

#game-screen label, #game-screen input, #game-screen button {
  margin-top: 10px;
}

#cancel-game {
  background-color: #FF4500;
  margin-bottom: 20px;
}

#cancel-game:hover {
  background-color: #FF6347;
}

#board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 20px 0;
}

#board div {
  background-color: #477947;
  padding: 20px;
  font-size: 1.5em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #650e0e;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close-button {
  display: none; 
}

@media (max-width: 900px) {
  main {
    margin-top: 15px;
    gap: 15px;
    justify-content: center;
  }
}