#tabs {
    width: 100%;
    max-width: 450px;
    min-height: 57px;
    padding: 20px;
    background-color: #222222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#tabs a {
    text-decoration: none;
    color: white;
}

#tabs .tab-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    margin-bottom: 10px;
}

#tabs .tab-links li {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: rgb(50, 50, 50);
    color: white;
    border: 1px solid #dbdbdb;
    transition: background-color 0.3s ease;
}

#tabs .tab-links li.active {
    background-color: rgb(49, 62, 165);
}

#tabs .tab-content {
    border: 1px solid #d8d8d8;
    padding: 15px;
    background-color: #3f3f3f;
}

#tabs .tab {
    display: none;
}

#tabs .tab.active {
    display: block;
}

/* Estilos para la tabla responsive */
#tabs table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

#tabs th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(79, 79, 79);
}

#tabs thead {
    background-color: rgb(58, 58, 58);
}

#reglas-tab  li {
    text-align: left;
    list-style: none;
}

#lista {
    padding: 5px 5px 5px 25px;
}

#lista li {
    list-style: circle;
}

@media screen and (max-width: 600px) {
    #tabs {
        width: 100%;
    }
    
    #tabs table, thead, tbody, th, td, tr {
        display: block;
    }

    #tabs  thead {
        display: none;
    }

    #tabs tr {
        margin-bottom: 10px;
        display: block;
        border: 1px solid rgb(250, 250, 250);
    }

    #tabs td {
        display: block;
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    #tabs td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        padding-right: 10px;
        text-align: left;
        font-weight: bold;
    }
}